.product-page {
  .addToCart {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .counter-btn {
      background-color: orangered;
      color: white;
      border: none;
      padding: 0.5rem 1rem;
      font-weight: 800;
      border-radius: 0.5rem;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
        background-color: lighten(orangered, 12%);
      }
    }
    span {
      margin: 0 1rem;
    }

    .add-to-cart {
      background-color: orangered;
      color: white;
      border: none;
      padding: 0.5rem 2rem;
      margin-left: 1rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }

  .main {
    max-width: 500px;
    margin: 3rem auto 0;

    .description {
      text-align: center;
    }
  }
}
