.product-page {
  .addToCart {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main {
    max-width: 500px;
    margin: 3rem auto 0;

    .menu-item-container {
      margin-bottom: 1rem;
    }
  }
}
